{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}"/>
<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Hakkımızda</title>
</head>
<body>
<section class="container">
    <br><a href="/index/" class="button green">Filmistan Anasayfa</a></br>
 <br><table border="8" align="center" width="50%" cellspacing="5" cellpadding="10"	></br>
      <tr>
         <td>Furkan KIYIKÇI &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:mail">furkanfbr@gmail.com </a></td>
          </tr>
     <tr>
              <td>Hannan ORHAN &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:mail">orhannan23@gmail.com </a></td>
         </tr>
         <td>Pınar YAZICI &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:mail">pnr.yazc@gmail.com </a> </td>
     <tr>
         <td>Burkay KARAKUŞ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:mail">burkaykarakus@gmail.com </a> </td>
         </tr>
      </tr>
   </table>

<!-- <br><font size="4" face="Verdana" color="black">Furkan KIYIKÇI     2140001050     <a href="mailto:mail">furkanfbr@gmail.com </a> </font></br>
<br><font size="4" face="Verdana" color="black">Hannan ORHAN     2140001019     <a href="mailto:mail">orhannan23@gmail.com </a> </font></br>
<br><font size="4" face="Verdana" color="black">Pınar YAZICI     2140001045     <a href="mailto:mail">pnr.yazc@gmail.com </a></font></br>
<br><font size="4" face="Verdana" color="black">Burkay KARAKUŞ     2140001047     <a href="mailto:mail">burkaykarakus@gmail.com </a></font></br> -->
</section>
</body>
</html>